:root {
  --oxford-blue: #0b132bff;
  --space-cadet: #1c2541ff;
  --yinmn-blue: #3a506bff;
  --verdigris: #5bc0beff;
  --fluorescent-cyan: #6fffe9ff;
  --celestial-blue: #3e92ccff;
  --lapis-lazuli: #2a628fff;
  --prussian-blue: #13293dff;
  --prussian-blue-2: #16324fff;
  --indigo-dye: #18435aff;
}
/* Pretty much holds the design colors */